{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'></script>
    <title>{% block title %}Commulator{% endblock %}</title>
    {% block stylesheet %}
    <!-- <style>
            
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
                    
    </style> -->
    {% endblock %}
      
</head>
<body>
    {% block body %}
    <nav class="navbar has-shadow is-white">
        <div class="navbar-brand">
            <a href="" class="navbar-item">
                <img src="https://user-images.githubusercontent.com/59466195/206653664-9411d7d0-a670-4cf3-833f-331388868110.png" alt="logo-icon" style="max-height: 40px" class="py-2 px-2">
            </a>
            <a class="navbar-burger" id="burger">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
        <div class="navbar-menu" id="nav-links">
            <div class="navbar-end">
                <a href="{% url 'commulator:base' %}" class="navbar-item">Home</a>
                <a href="" class="navbar-item">About</a>
                <a class="navbar-item" href="{% url 'commulator:team' %}">Team</a>
                <a href="{% url 'commulator:signup' %}" class="navbar-item">Sign up</a>
                <a href="{% url 'commulator:dashboard' %}" class="navbar-item">Dashboard</a>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-half">
              <h3 class="title is-3">Features</h3>
              <ul>
                <li>Easy to use</li>
                <li>Seamless interaction</li>
                <li>Supports Multiple languages</li>
              </ul>
            </div>
            <div class="column is-half">
              <h3 class="title is-3">Images</h3>
              <div class="columns">
                <div class="column">
                  <img src="" alt="Screenshot 1">
                </div>
                <div class="column">
                  <img src="" alt="Screenshot 2">
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>

    <footer class="footer" style="background-color: rgb(5, 99, 207);">
        <div class="level">
          <div class="level-item has-text-centered">
            <form>
              <div class="field">
                <h2 class="has-text-centered has-text-white">Newsletter</h2>
                <br>
                <div class="control has-icons-left">
                  <input class="input is-medium" type="email" placeholder="Your email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button class="button is-warning is-medium">Sign up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
    </footer>
    

    <script>
        const burgerIcon = document.querySelector('#burger');
        const navbarMenu = document.querySelector('#nav-links');

        burgerIcon.addEventListener('click', () => {
            navbarMenu.classList.toggle('is-active');
        });
    </script>
    {% endblock body %}
</body>
</html>
