{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'></script>
    <title>{% block title %}Commulator{% endblock %}</title>
    {% block stylesheet %}
    <style>
            
        .hero {
            background: url('https://user-images.githubusercontent.com/59466195/207965767-3e6c3813-ce46-4a15-8a91-141587898ecb.jpg') center / cover;
        }
                    
    </style>
    {% endblock %}
      
</head>
<body>
    {% block body %}
    <section class="hero is-info is-large is-fullheight">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="{% static 'com-w.png' %}" alt="Logo">
              </a>
              <span id="burger" class="navbar-burger has-text-white" data-target="navbarMenuHeroB">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroB" class="navbar-menu">
              <div class="navbar-end">
                <span class="navbar-item is-active">
                  <a class="navbar-item" href="{% url 'commulator:base' %}">Home</a>
                </span>
                <span class="navbar-item">
                  <a class="button is-info is-inverted" href="">
                    <span>About</span>
                  </a>
                </span>
                <span class="navbar-item">
                  <a class="button is-info is-inverted" href="{% url 'commulator:team' %}">
                    <span>Team</span>
                  </a>
                </span>
                <span class="navbar-item">
                  <a class="button is-info is-inverted" href="{% url 'commulator:dashboard' %}">
                    <span>Dashboard</span>
                  </a>
                </span>
                <span class="navbar-item">
                  <a class="button is-info is-inverted" href="{% url 'commulator:signup' %}">
                    <span class="icon">
                      <i class="fas fa-user"></i>
                    </span>
                    <span>SignUp</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>
    
      <div class="hero-body">
        <div class="container has-text-centered">
          <!-- <img src="{% static 'people.jpg' %}" alt=""> -->
        </div>
      </div>
    </section>

    <script>
        const burgerIcon = document.querySelector('#burger');
        const navbarMenu = document.querySelector('#navbarMenuHeroB');

        burgerIcon.addEventListener('click', () => {
            navbarMenu.classList.toggle('is-active');
        });
    </script>
    {% endblock body %}
</body>
</html>
